html {
    scroll-behavior: smooth;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('pexels-kseniachernaya-3965543.jpg');

}


nav {
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(135deg, #FFCC00, #FF0066);
    align-items: center;
    height: 80px;
    font-size: large;
    font-weight: lighter;
    font-style: normal;
    padding: 0 20px;
    position: sticky;
    z-index: 1000;
}

.kera {
    display: flex;
    align-items: center;
    list-style: none;
}

.kera p {
    text-decoration: none;
    color: #000000;
    font-size: x-large;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 40px;
    padding: 0;
}

nav ul li {
    padding: 5px 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
}

.menu {
    margin-left: 55%;
    position: absolute;
}

.menu a {
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    background-color: #ede3e3;
}

.signup-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.form-group {
    margin-bottom: 15px;
}

.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.password-container input[type="password"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.password-container i {
    margin-left: -30px;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    right: 10px;
}



button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(135deg, #FFCC00, #FF0066);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 0%;
    text-decoration-line: none;

}

button[type="submit"]:hover {
    background: linear-gradient(135deg, #FFCC00, #640101);
}

.social-signup {
    margin-top: 20px;
}

.social-signup p {
    font-size: 16px;
    color: #333;
}

.social-signup button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.social-signup .google-signup {
    background-color: #db4437;
}

.social-signup .google-signup:hover {
    background-color: #c33d31;
}

.social-signup .apple-signup {
    background-color: #333;
}

.social-signup .apple-signup:hover {
    background-color: #111;
}

.social-signup .facebook-signup {
    background-color: #3b5998;
}

.social-signup .facebook-signup:hover {
    background-color: #344e86;
}

.footer-container {
    background-color: #030000;
    color: rgb(248, 248, 248);
    padding: 20px;
    text-align: center;
    position: inherit;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    font-style: sans-serif;
    font-size: larger;
}

.footer-content {
    margin: auto;
}

.footer-content h3 {
    margin-top: 0;
}

.footer-content p {
    margin: 5px 0;
}

#K-ERA {
    color: azure;
    text-align: left;
    font-size: x-small;
    font-style: normal;
}

.footer-container h4,
h5 {
    color: #ffffff;
    font-size: larger;
    font-weight: 300;
    text-decoration: underline;
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons .ri-facebook-circle-fill {
    color: #1877f2;
}

.social-icons .ri-instagram-line {
    background: linear-gradient(135deg, #fd5949, #d6249f, #285aeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-icons .ri-whatsapp-fill {
    color: #25d366;
}

.social-icons .ri-youtube-fill {
    color: #ff0000;
}