      
html {
    scroll-behavior: smooth;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    margin: 0%;
    padding: 0%;
}
                             
nav {
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(135deg, #FFCC00, #FF0066);
    align-items: center;
    height: 80px;
    font-size: large;
    font-weight: lighter;
    font-style: normal;
    padding: 0 20px;
    position: sticky;
    z-index: 1000;
}
nav .kera img {
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 20px;
    border-radius: 50%;
}


.profile-box {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-box a {
    color: rgba(0, 0, 0, 0.925);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.profile-box i {
    font-size: 24px;
    cursor: pointer;
    background-color: #fcfbfb;
    border-radius: 80%;
}

.kera {
    display: flex;
    align-items: center;
    list-style: none;
}

.kera p {
    text-decoration: none;
    color: #000;
    font-size: x-large;
    font-weight: bold;
    /* user-select: none; */
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 40px;
    padding: 0;
}

nav ul li {
    padding: 5px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu {
    margin-left: 55%;
    position: absolute;
}

.menu a {
    text-decoration: none;
    color: #111;
}

nav ul li a:hover {
    background-color: #ffffff;
    border-radius: 5px;
}


.footer-container {
    background-color: #000000;
    color: rgb(248, 248, 248);
    padding: 20px;
    text-align: center;
    position: inherit;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    font-style: sans-serif;
    font-size: larger;
}
#contact {
    position:relative;
    margin-top: 148.2%; /* editeddddddddddd */
}
.footer-content {
    margin: auto;
}

.footer-content h3 {
    margin-top: 0;
}

.footer-content p {
    margin: 5px 0;
}

#brand {
    font-size: 300px;
    background-color: #000000;
    /* user-select: none; */
    font-style: inherit;
    /* text-shadow: 0 0 5px rgba(219, 203, 25, 0.925), 0 0 10px rgba(219, 203, 25, 0.925), 0 0 20px rgba(219, 203, 25, 0.925), 0 0 30px rgba(219, 203, 25, 0.925), 0 0 40px rgba(219, 203, 25, 0.925), 0 0 50px rgba(219, 203, 25, 0.925), 0 0 60px rgba(219, 203, 25, 0.925); */
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

#slogon {
    font-style: normal;
    font-size: 30px;
    margin-bottom: 50px;
    /* user-select: none; */
}

#K-ERA {
    color: azure;
    text-align: left;
    font-size: x-small;
    font-style: normal;
}

.footer-container h4, h5 {
    color: #ffffff;
    font-size: larger;
    font-weight: 300;
    /* user-select: none; */
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons .ri-facebook-circle-fill {
    color: #1877f2;
}

.social-icons .ri-instagram-line {
    background: linear-gradient(135deg, #fd5949, #d6249f, #285aeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-icons .ri-whatsapp-fill {
    color: #25d366;
}

.social-icons .ri-youtube-fill {
    color: #ff0000;
}



.full-size-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
}
